* {
    box-sizing: border-box;
}

@font-face {
  font-family: Nexa_Bold;
  src: url(../fonts/Nexa_Bold.otf);
}

html, body{
	margin:0;
	padding:0;
}

body{
	background:url(../images/bikes.amsterdam.jpg) no-repeat fixed center; 
	font-family: Nexa_Bold;
}

li{
	list-style-type: none;
}

header{
	background: white;	
	height:2.5em;
}

section{
	/*background-color: #f3e5d8;*/
}

h1{
	font-size: 2em;
	text-align: center;
	line-height: 0.5rem;
	color:#4FB166;
}

h2{
	font-size: 1.5em;
	text-align: center;
	color:#2800a0;
}

p{
	color:#606060;
	font-size: 1em;
}
