.logo img{
	width:10em;
}

.button-rechts1{
	position:absolute;
	top:0.5em;
	right:4em;
	width:2em;
	height:1.7em;
}

.button-rechts2{
	position:absolute;
	top:0.5em;
	right:1.6em;
	width:2em;
	height:1.7em;
}

.button-rechts1 img, .button-rechts2 img{
	position:absolute;
	right:0;
	width:2em;
}

.inloggen{
	opacity: 0;
	position:absolute;
	right:2em;
	top:3em;
	width:5em;
	background-color:white;
	border-radius: 0.75em;
	border:1px solid #606060;
	padding: 1em 5em 1em 1em;
}

.inloggen a{
	text-decoration: none;
	color:#4FB166;
}

.inloggen:hover{
	opacity:1;
}

.opgeslagen{
	opacity: 0;
	position:absolute;
	right:0.5em;
}

.opgeslagen:hover{
	opacity:1;
	z-index:5;
}

nav{
	display: none;
	width:100%;
    background: blue;
    position: absolute;
    right:-100%;
}

.verhalen-wrapper{
	margin-top:2em;
}

.verhalen-boven, .verhalen{
	position: relative;
	background:white;
	border-radius: .75rem;
	margin:0em 0.5em 1em 0.5em;
	box-sizing: border-box;
}

.verhalen-boven{
	padding: 0.5em 0em 2em 0.5em;
	margin-top:1em;
	width:100%;
}

.verhalen{
	/*padding: 0em 4em 2em 4em;*/
	padding-bottom: 2em;
}

.verhalen img{
	width:3em;
}

.verhalen p{
	width:23em;
	margin-left:1em;
}

.top-verhalen{
	background-color: #e83a6a;
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
	padding-left: calc(54% - 2em);
}

.lees-verder{
	position: relative;
    text-align: center;
    color: white;
    background-color: #e83a6a;
    left: calc(50% - 4em);
    width: 7em;
    height: 1.5em;
    padding: 0.8em 1em;
    border-radius: 3em;
    font-size: 1em;
    text-decoration: none;
}

.pijlLinks{
	position:absolute;
	top:5em;
	left:1em;
	width:1em;
	height:1em;
	border:4px solid #4FB166;
	border-right: 0px;
	border-bottom:0px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.pijlRechts{
	position: absolute;
	top:5em;
	right:1em;
	width:1em;
	height:1em;
	border:4px solid #4FB166;
	border-right: 0px;
	border-bottom:0px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

/*.filter ul, .sorteer ul{
	display:none;
}*/

.filter, .sorteer{
	color:#4FB166;
	background-color:white;
	margin-bottom:-1.3em;
    padding-bottom: 0.3em;
    opacity:0;
    width:25%;
}

.filter:hover, .sorteer:hover{
	zoom: 1;
	opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.sorteer{
	color:#4FB166;
	background-color:white;
	padding-bottom: 0.3em;
	margin-bottom:1em;
}

.filter-knop, .sorteer-knop{
	position: relative;
	text-decoration: none;
}

.sorteer-knop > h2, .filter-knop > h2{
	background-color:#4FB166;
	color:white;
	padding:0.5em;
	width:25%;
}

article{
	background-color: #ff3268;
}

fieldset{
	border:none;
	left:(50% - 5em);
}

button{
	padding:0;
}

/* Mobile 20em (320px) */
@media only screen and (min-width : 20em) and (max-width: 61em){

	.filter-knop, .sorteer-knop{
		width:100%;
	}

}

/* Tablet 48em (768px) */
@media only screen and (min-width : 48em){

	.verhalen-boven{
		width:45%;
	}

	.verhalen-wrapper{
		padding: 0;
  		margin: 0;
  		list-style: none;
  		
  		display: -webkit-box;
  		display: -moz-box;
  		display: -ms-flexbox;
  		display: -webkit-flex;
  		display: flex;
  		
  		-webkit-flex-flow: row wrap;
  		justify-content: space-around;
	}

	.verhalen{
		margin-bottom: 2em;
	}

	.filter-knop, .sorteer-knop{
		width:40%;
	}
}

/* Desktop 64em (1024px) */
@media only screen and (min-width : 75em){
	
	.filter-knop, .sorteer-knop{
		width:25%;
	}

	.filter, .sorteer{
		width:25%;
	}
}


