
.mobiel{
	display:block;
}
.tablet{
	display:none;
}

.desktop{
	display:none;
}

/* Mobile 20em (320px) */
@media only screen and (min-width : 20em) and (max-width: 61em){

}

/* Tablet 48em (768px) */
@media only screen and (min-width : 48em){
	.mobiel{
		display:none;
	}
	.tablet{
		display:block;
	}
}

/* Desktop 64em (1024px) */
@media only screen and (min-width : 75em){
	.mobiel{
		display:none;
	}
	.tablet{
		display:none;
	}
	.desktop{
		display:block;
		width:100%;
		height:auto;
	}
	

}

